@import url(styles.css);

/* styling an back button */
#back-btn {
  width: 10rem;
  height: 4.5rem;
  border-radius: 12px;
  text-align: center;
  font-size: larger;
  margin-left: 85%;
  padding-top: 1rem;
  background-color: #f6c700;
  color: black;
  text-decoration: none;
}

.movie-container {
  display: inline-block;
}
#movie-info {
  width: 12rem;
  height: 10rem;
  margin-left: 36rem;
  padding-top: 6rem;
}
#movie-rate {
  width: 10rem;
  height: 5rem;
  margin-left: 118rem;
}
#movie-rate p {
    font-size: larger;
    font-weight: bolder;
    color: #212529;
}
#movie-year, #movie-time{
    margin-left: 5px;
    color: goldenrod;
    font-weight: bolder;
}

.movie-details {
  width: 60vw;
  height: 50vh;
  margin-left: 35rem;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  box-shadow: 0px 16px 24px 2px hsla(0, 0%, 0%, 0.14),
    0px 6px 30px 5px hsla(0, 0%, 0%, 0.12),
    0px 8px 10px -5px hsla(0, 0%, 0%, 0.2);
}
#plot{
    margin: 3rem 0 0 2rem;
    color: aliceblue;
    font-size: larger;
    word-spacing: 0.3rem;
}